body{
    padding: 0;
    margin: 0;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    outline: none;

}
#header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
}
#card{
    width: 400px;
    border-radius: 3px;
    margin:50px 200px;
}

#card form{
    display: flex;
    flex-direction: column;
    gap:5px;
}
#input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label{
    color: #323232;
}

#input-field input{
    width: 80%;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
}
#firstname-field ,#lastname-field,#email-field,#password-field{
    position: relative;
}
#firstname-wrn,#lastname-wrn,#email-wrn,#password-wrn{
    position: absolute;
    top: 0;
    right: 80px;
    display: none;
        
}
#firstname-message,#lastname-message,#email-message,#password-message{
    color: red;
    font-weight: 600;
    display: none;
}
#password-hint{
    width: 80%;
    height: auto;
    border-bottom: 1px solid #323232;
    border-right: 1px solid #323232; 
    border-left: 1px solid #323232;
    border-top: none;
    position: relative;
    top: 0px;
    right: 0px;
    display: none;
    
}
#password-header,#password-hint-text{
   padding: 0;
   margin: 0;
   line-height: 30px; 
}
#password-hint-text:hover{
    background: pink;
    cursor: pointer;
}
#checkbox{
    position: relative;
    top: 13px;
    right: 150px;
    background: red;
    cursor: pointer;
    margin-left: 0px;
}
#checkbox-message{
    position: relative;
    top: -15px;
    margin-left: 30px;
    margin-top: 9px;
}
#btn{
    padding: 10px 30px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: fit-content;
    margin: 12px 0px;
    box-shadow: 0 0 10px 0 #ddd;
    font-weight: 700;
}
#lower-case,#upper-case,#number,#special-symbol{
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    display: none;
}
#title{
    font-size: 18px;
    text-align: center;
    margin: 22px 0px;
    color: dodgerblue;
}
#img{
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
}
